@charset "utf-8";

h1 {
    font-family: 'Dancing Script', cursive;
}

div#flex-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1000px;
}

div#flex-container > aside {
    width: 30%;
}

div#flex-container > section {
    width: 70%;
    padding-left: 50px;
}

img {
    display: block;
    width: 100%;
}

a#email {
    color: black;
    text-decoration: none;
    display: block;
}

a#email:hover {
    color: rgb(0, 98, 255);
    text-decoration: underline;
}

@media (max-width: 800px) {
    div#flex-container {
        flex-flow: column;
    }

    div#flex-container > aside, div#flex-container > section {
        width: 100%;
        padding: 0;
    }

    img#profile {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}